.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cardContent {
  /* width: min-content; */
  border-radius: 36px;
  background-color: #ffffff;
  /* height: max-content; */
}

.text-custom {
  color: #240046;
}

.cardC1 {
  background-color: #dec9e9;
  border-radius: 24px;
  color: #5a189a;
}

.cardC2 {
  background-color: #caf0f8;
  border-radius: 24px;
  color: #00b4d8;
}

.cardC3 {
  background-color: #fff2b2;
  border-radius: 24px;
  color: #ff8800;
}
.cardC4 {
  background-color: #d8f3dc;
  border-radius: 24px;
  color: #2d6a4f;
}
.cardC5 {
  background-color: #ffedd8;
  border-radius: 24px;
  color: #6f4518;
}
.cardC6 {
  background-color: #e9ecef;
  border-radius: 24px;
  color: #495057;
}
.cardC7 {
  background-color: #ffccd5;
  border-radius: 24px;
  color: #c9184a;
}

.box {
  background-color: #ffffff;
  border-radius: 8px;
  width: 20px;
  height: 40px;
}

.textC2 {
  font-size: 50px;
}
.containerLogin {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 36px;
}
.btn-custom {
  background-color: #240046;
  border-radius: 24px;
  height: 50px;
  color: #ffffff;
}
.btn-custom-outline {
  border-color: #240046;
  border-radius: 24px;
  height: 50px;
  color: #240046;
  background-color: #ffffff;
}
.btn-custom-outline:hover {
  background-color: #240046;
  border-radius: 24px;
  height: 50px;
  color: #ffffff;
}
.my-custom-scrollbar {
  position: relative;
  height: 650px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
.image-container {
  height: 120px;
  width: 200px;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
}
.image-container img {
  height: 100%;
  width: auto;
  object-fit: cover;
}
.image-container span {
  top: -8px;
  right: 8px;
  color: red;
  font-size: 28px;
  font-weight: normal;
  cursor: pointer;
}
.image-cover {
  width: 500px;
  height: 500px;
  overflow: hidden;
}
.image-cover-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.circle-photo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
